body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  background-image: url('main-background.jpg');
  height: 100vh;
}

canvas {
  box-shadow: 0 0 0.2rem #000, 0 0 0.2rem #000, 0 0 2.8rem #c77a05,
    inset 0 0 1.3rem #c77a05;
  border: 0.2rem solid #000;
  border-radius: 0.5rem;
}
